<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gaode.xtd.admin.mapper.OperationMapper">
	<resultMap id="BaseResultMap" type="com.gaode.xtd.admin.domain.po.OperationPO">
		<id column="id" property="id" />
		<result column="oper_name" property="operName" />
		<result column="oper_type" property="operType" />
		<result column="is_return" property="isReturn" />
		<result column="text" property="text" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="creator" property="creator" />
		<result column="update_time" property="updateTime" />
		<result column="updator" property="updator" />
		<result column="sqltemplate" property="sqltemplate" />
		<result column="datasource_id" property="datasourceId" />
		<result column="datasource_name" property="datasourceName" />
	</resultMap>
	
	<resultMap id="OperAndParamMap" type="com.gaode.xtd.admin.domain.dto.OperationDTO" extends="BaseResultMap">
		<collection property="paramList" ofType="com.gaode.xtd.admin.domain.po.QueryparameterPO">
			<id column="pid" property="pid" />
			<result column="pname" property="pname" />
			<result column="ptype" property="ptype" />
			<result column="pdirection" property="pdirection" />
		</collection>
	</resultMap>
	
	<resultMap id="queryDtos_Map" type="com.gaode.xtd.admin.domain.dto.OperationDTO" extends="OperAndParamMap">
		<association property="datasourceconfig" javaType="com.gaode.xtd.admin.domain.po.DatasourceconfigPO">
			<id column="c_id" property="id" />
			<result column="name" property="name" />
			<result column="is_use" property="isUse" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		id, oper_name, oper_type, is_return, text, remark, create_time,
		creator,
		update_time, updator, sqltemplate,datasource_id,datasource_name
	</sql>

	<select id="queryDtos" resultMap="queryDtos_Map">
		SELECT
			o.id,
			o.oper_name,
			o.oper_type,
			o.sqltemplate,
			param.pid,
			param.pname,
			param.ptype,
			param.pdirection,
			config.id AS c_id, 
			config.name, 
			config.is_use
		FROM
			operation O
		LEFT JOIN queryparameter param ON O.id = param.mid
		LEFT JOIN datasourceconfig config ON O.d_id = config.id
	</select>
	
	<select id="selectOperAndParamByKey" resultMap="OperAndParamMap">
		SELECT
			o.id,
			o.oper_name,
			o.oper_type,
			o.sqltemplate,
			o.datasource_id,
			o.datasource_name,
			param.pid,
			param.pname,
			param.ptype,
			param.pdirection
		FROM
			operation O
		LEFT JOIN queryparameter param ON O.id = param.mid
		where o.id = #{id}
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from operation
		where id = #{id}
	</select>

	<!-- operation表的数据列表 -->
	<select id="queryList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from operation
		<where>
			<if test="operName != null and operName != ''">
				AND oper_name = #{operName}
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey">
		delete from operation
		where id = #{id}
	</delete>

	<insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
		insert into operation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="operName != null">
				oper_name,
			</if>
			<if test="operType != null">
				oper_type,
			</if>
			<if test="isReturn != null">
				is_return,
			</if>
			<if test="text != null">
				text,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updator != null">
				updator,
			</if>
			<if test="sqltemplate != null">
				sqltemplate,
			</if>
			<if test="datasourceId != null">
				datasource_id,
			</if>
			<if test="datasourceName != null">
				datasource_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="operName != null">
				#{operName},
			</if>
			<if test="operType != null">
				#{operType},
			</if>
			<if test="isReturn != null">
				#{isReturn},
			</if>
			<if test="text != null">
				#{text},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="creator != null">
				#{creator},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="updator != null">
				#{updator},
			</if>
			<if test="sqltemplate != null">
				#{sqltemplate},
			</if>
			<if test="datasourceId != null">
				#{datasourceId},
			</if>
			<if test="datasourceName != null">
				#{datasourceName},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective">
		update operation
		<set>
			<if test="operName != null">
				oper_name = #{operName},
			</if>
			<if test="operType != null">
				oper_type = #{operType},
			</if>
			<if test="isReturn != null">
				is_return = #{isReturn},
			</if>
			<if test="text != null">
				text = #{text},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="updator != null">
				updator = #{updator},
			</if>
			<if test="sqltemplate != null">
				sqltemplate = #{sqltemplate},
			</if>
			<if test="datasourceId != null">
				datasource_id = #{datasourceId},
			</if>
			<if test="datasourceName != null">
				datasource_name = #{datasourceName},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 执行超级SQL -->
	<select id="executeSql" resultType="java.util.LinkedHashMap">
		${sql}
	</select>
	
	<!-- 定义存储过程 -->
	<select id="callProcedure" statementType="CALLABLE"
		resultType="java.util.LinkedHashMap">
		${procedure}
	</select>
</mapper>