<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/bootstrap.min.css">
<title>数据</title>
</head>
<body>
	<div class="panel panel-success">
		<div class="panel-heading"
			style="padding-top: 5px; padding-bottom: 5px;">
			<h4>数据服务接口配置</h4>
			<button class="btn btn-info" type="button" id="btnReturn">《返回列表</button>
		</div>
		<div class="panel-body" style="padding-top: 5px; padding-bottom: 5px;">
			<form id="formTemple">
				<div class="form-group">
					<label for="operName">操作名称</label> <input type="text"
						class="form-control" id="operName" name="operName" placeholder="操作名称(不超过20个字符，不要包含特殊字符，如？，&，#等，最好都是英文字母)" maxlength="20" required:true>
				</div>
				<div class="form-group">
					<label for="operType">语句类型</label> <select class="form-control"
						name="operType" id="operType">
						<option value="A">sql语句</option>
						<option value="B">存储过程</option>
					</select>
				</div>
				<div class="form-group">
					<label for="datasourceId">数据源</label> <select class="form-control"
						name="datasourceId" id="datasourceId">
						<option value="4">defaultDataSource</option>
						<option value="2">datasource1</option>
					</select>
				</div>
				<div class="form-group">
					<label for="sqltemplate">模板</label>
					<textarea class="form-control" rows="3" id="sqltemplate" name="sqltemplate" placeholder="sql模板或者调用存储过程(要和上面的语句类型对应，最多不超过1000个字符)" maxlength="1000"></textarea>
				</div>
				<button class="btn btn-info" type="button" id="btnSave">保存</button>
				<button class="btn btn-primary" type="button" id="btnExplain">解析参数</button>
				<button class="btn btn-info" type="button" id="btnOperation">操作说明下载</button>
				<br />
			</form>
			<div id="app">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-success">
							<div class="panel-heading">参数列表</div>
							<panel class="pane-body">
							<table class="table">
								<tr>
									<th>参数名称</th>
									<th>参数类型</th>
									<th>输入/输出</th>
									<th>操作</th>
								</tr>
								<tr v-for="item in plist">
									<td>{{item.pname}}</td>
									<td>{{item.ptype}}</td>
									<td>{{item.pdirection}}</td>
									<td><a href="javascript:void(0)" v-on:click="edit(item)">编辑</a></td>
								</tr>
							</table>
							</panel>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-success">
							<div class="panel-heading">数据修改</div>
							<div class="panel-body">
								<form>
									<div class="form-group">
										<label for="">参数名称</label><input v-model="pitem.pname"
											type="text" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label for="">参数类型</label><select type="text"
											v-model='pitem.ptype' class="form-control">
											<option value="VARCHAR">字符</option>
											<option value="NUMERIC">数字</option>
											<option value="DATETIME">时间</option>
										</select>
									</div>
									<div class="form-group">
										<label for="">输入输出</label> <select type="text"
											class="form-control" v-model='pitem.pdirection'>
											<option value="IN">输入</option>
											<option value="OUT">输出</option>
										</select>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el : '#app',
		data : {
			pitem : {
				pname : "",
				ptype : "",
				pdirection : ""
			},
			plist : []
		},
		methods : {
			edit : function(item) {
				this.pitem = item;
			}
		}
	});

	// 页面加载完执行
	$(function(){
		//解析字符参数,程序会自动的提取":"开始以空格或者逗号结尾的单词
		/*example:select * from user where usernmae=:name and id=:id
		 程序会自动的提取:name及:id两个参数
		 */
		$("#btnExplain").click(function() {
			app.plist = $$.explain('#sqltemplate', app.plist);
		});
		
		// 返回列表
		$("#btnReturn").click(function() {
			window.location.href =  $$.appId + '/list.html';
		});

		// 操作说明下载
		$('#btnOperation').click(function(){
			window.location.href = $$.appId + '/download/数据接口操配置文档.docx';
		});
		
		//点击保存提交表格信息
		$("#btnSave").click(function() {
			var formData = $$.serializeToJson('#formTemple', true);
			// 校验-待完善
			if (!formData) {
				return false;
			}
			if (formData.operName == null || formData.operName.trim() == '') {
				alert('操作名称不能为空');
				return false;
			}
			if (formData.sqltemplate == null || formData.sqltemplate.trim() == '') {
				alert('模板内容不能为空');
				return false;
			}
			var datasource = $('#datasourceId option:selected'); //获取选中的项
			if (datasource) {
				formData.datasourceName =  datasource.text();
			}
			// 校验储存过程的参数列表
			var plist = app.plist;
			if (plist != null && formData.operType == 'B') {
				for (var i in plist) {
					if (plist[i].pdirection == null || plist[i].pdirection == '') {
						alert(plist[i].pname + '的<输入/输出>不能为空');
						return false;
					}
					if (plist[i].ptype == null || plist[i].ptype == '') {
						alert(plist[i].pname + '的<参数类型>不能为空');
						return false;
					}
				}
			}
			formData.queryParamList = plist;
			// 向后台发送post请求
			$.ajax({
				type: 'POST',
				url: $$.appId + '/admin/operation/add',
				data: JSON.stringify(formData),
				contentType: 'application/json',
				success: function(data) {
					if (data && data.code == 0) {
						alert("操作成功");
						window.location.href = $$.appId + '/configure.html';
					} else {
						alert(data.msg);
					}
				}
			});
		});
	});
</script>
</html>